* {
    padding: 0;
    margin: 0;
}

.people_container {
    width: 90%;
    margin: 0 auto;
}

.people_row {
    display: flex;
}

.person_title {
    color: black;
}

.people_img {
    position: relative;
    top: 32px;
    right: 27px;
    border-radius: 8px;
    height: 450px;
}

.people_text_big {
    margin-top: 33px;
}

.person_title3 {
    margin-top: 10px;
    color: black;
}

.known_title {
    margin-top: 10px;
    color: black;
}

.popular_people {
    display: flex;
    justify-content: start;
    overflow-x: scroll;
}

.popular_person {
    width: 300px;
    gap: 10x;
    margin-top: 60px;
}

.known_img {
    border-radius: 10px;
    width: 50%;
}