.navbar{
    background-color: #042541;
    height: 64px;
    display: flex;
    align-items: center;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.navbarRow {
    display: flex;
    justify-content: space-between;
}

.navbar-wrapper-menu{
    display: flex;
    gap: 14px;
    color: white;
}

.navbar-wrapper-menu-item{
    padding: 8px;
}

.navbar-wrapper-menu-item:nth-child(1){
    width: 154px;
}

.plus_img {
    width: 3%;
}

.minus_img {
    width: 3%;
    background: none;
}

.valakida {
    background-color: #042541;
    background-repeat: inherit;
    width: 3%;
}

.btn_translate {
    position: relative;
    left: 420px;
    padding: 4px 10px;
    width: 100%;
    height: 30px;
    border: 1px solid white;
    background-color: #042541;
    color: white;
    border-radius: 3px;
    top: 18px;
}

.call_img {
    position: relative;
    left: 470px;
    bottom: 15px;
}

.profil {

}